<section class="section summary-section">

  <h2 class="section-title"><i class="fa fa-user"></i>&nbsp;Profile</h2>

    <div class="summary">
      <p>{{ site.data.profile.summary }}</p>

      <p>{{ site.data.profile.works.main }}</p>

      <ul>
        {% for task in site.data.profile.works.tasks %}
      	<li>{{ task }}</li>
        {% endfor %}
      </ul>

      <p>{{ site.data.profile.opensource }}</p>

      <p>{{ site.data.profile.learning }}</p>
    </div><!--//summary-->
    
</section><!--//section-->
	